<!DOCTYPE html>
<html>
<head>
    <title>Library Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('search') }}">Search</a> 
            {% if session.user_id %}
                | <a href="{{ url_for('borrowed_books') }}">Borrowed Books</a> 
                | <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                | <a href="{{ url_for('login') }}">Login</a> 
                | <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>

    <div class="container">
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
